@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=vietnamese');

/* GENERALS */
.top-bar,
.bottom-bar,
.btn {
	font-family: 'Roboto', sans-serif;
}

.top-bar {
	color: black;
	background: rgba(255,255,255,0.6);
	position: fixed;
	z-index: 1;
	/*pointer-events: none;*/
}

.ibg-bg {
	top: 0;
	left: 0;
	box-sizing: border-box;
    /*transform: translateX(-50%);*/
	/*border: 5px solid red;*/
  /*transform: scale(1.3) translate3d(0,0,0);*/
}

.main {
	position: absolute;
	top: 100%;
	height: 90%;
	z-index: 10;
}
.center-align-wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.center-align-box {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	position: static;
}

/* HEADER */
.header {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header .logo {
	width: 60px;
}
.header h1 {
	margin-top: 10px;
	padding: 0;
	font-size: 32px;
  text-shadow: 1px 1px 4px rgba(0,0,0,.85);
}

.header .control-box {
  background-color: rgba(0,0,0,.5);
  color: white;
	padding: 15px 10px 10px;
	margin: 10px auto 0;
	border-radius:4px;
	max-width: 350px;
}

.header .btn {
	display: block;
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	padding: 8px 0;
	margin-top: 10px;
	text-align: center;
	width: auto;
	color: white;
	border-radius: 4px;
	transition: .5s;
	text-decoration:none;
}

.header input {
	margin-top: 5px;
}

.wrapper.bg {
	position: relative;
}
.dark-after::after {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 40%;
	bottom: 0;
	top: unset;
	left: 0;
	right: 0;
	z-index: 0;

  background: transparent; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent, black); /* Standard syntax */
}

@media screen and (min-width: 768px) {
	.header h1 {
		font-size: 40px;
	}
	.header .logo {
		width: 115px;
	}
}

/* DOCS: Term & Conditions */
.docs {
	color: #888;
	z-index: 100;
	text-align: center;
	position: relative;
	top: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.docs a {
	color: #888;
	text-decoration: underline;
}
.docs-nav a {
	text-decoration: none;
}
.docs a:hover, .docs-nav a:hover {
	color: #ddd;
}

.docs-wrapper {
	background: black;
}

ul.docs-nav, ul.docs-body {
	list-style-type: none;
	margin: 0;
	color: #888;
	padding: 0;
}

ul.docs-body {
	text-align: justify;
	max-width: 600px;
	margin: 0 auto;
	padding: 15px 0 0;
}

ul.docs-nav {
	display: block;
	width: auto;
	text-align: center;
	/*border-bottom: solid 1px #888;*/
	margin-top: 10px;
}
ul.docs-nav li {
	display: inline-block;
	padding: 0 25px;
	margin-bottom: -1px;
}
ul.docs-nav li.active {
	border: solid 1px #888;
	border-bottom-color: transparent;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
ul.docs-body li {
	padding: 0 15px;
}

@media screen and (max-width: 479px) {
	ul.docs-nav li {
		max-width: 130px;
	}
}

/* SURVEY */
.survey {
	height: 100%;
}

.survey-content {
	position: absolute;
	height: auto;
	width: 100%;
	bottom: 25px;
	color: white;
}
.survey-content h3,
.survey-content p {
	margin: 0;
  text-shadow: 1px 1px 4px rgba(0,0,0,.85);
}
.survey .choices {
	text-align: center;
	background: rgba(0,0,0,0.5);
	max-width: 500px;
	border-radius: 4px;
	margin: 20px auto 0;
	padding: 15px;
}
.survey .choices .item {
	display: inline-block;
	width: 40px;
}
.survey .choices .item:hover {
	cursor: pointer;
}
.survey .choices .item:not(:last-child) {
	margin-right: 10px;
}
@media screen and (min-width: 768px) {

}

/* Portal Page 2: .portal-2 */
.portal-2 h3 {
	color: white;
	font-size: 18px;
	text-shadow: 1px 1px 4px rgba(0,0,0,.85);
	margin-bottom: 15px;
}
.portal-2.main {
	height: 100%;
}
.portal-2 .center-align-box {
	vertical-align: bottom;
}
.portal-2 .content {
	position: relative;
	top: 61px;
}
.portal-2 .btn {
	margin: 0 auto;
	font-size: 18px;
	border-radius: 4px;
}
.portal-2 .btn-orange {
	background: rgb(245, 155, 0);
	padding: 10px;
	margin-bottom: 7px;
}
.portal-2 .btn-connect {
	background-color: transparent;
	border: solid 1px white;
	padding: 10px;
	/*font-size: 20px;*/
	font-weight: normal;
	margin-bottom: 7px;
	display: inline-block;
	transition: all 0.2s ease;
}
.portal-2 .btn-connect:hover {
	background-color: white;
	color: black;
}
@media screen and (min-width: 768px) {
	.portal-2 h3 {
		font-size: 32px;
		font-weight: bold;
	}
	.portal-2 .btn-orange {
		font-size: 28px;
		padding: 15px 85px;
	}
	.portal-2 .btn-connect {
		font-size: 20px;
	}
}

/* BOTTOM FORM */
.bottom-bar {
	color: white;
	/*background: rgba(0,0,0,.5);*/
	position: absolute;
	top: initial;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}
	.bottom-bar-bg .left,
	.bottom-bar-bg .right {
		width: 50%;		
		border-bottom: 10px solid rgba(0,0,0,.5);
	}
	.bottom-bar-bg .left {
		border-right: 20px solid transparent;
	}
	.bottom-bar-bg .right {
		border-left: 20px solid transparent;
	}
.bottom-bar-content {
	padding: 10px 10px 15px 10px;
	position: relative;
	background: rgba(0,0,0,.5);
}

.login-type {
	width: 100%;
	font-size: 0;
	margin-top: 5px;
}

.login-type-button {
	width: 33.33%;
	font-size: initial;
	border-radius: 0;
	color: white !important;
	padding: 15px 0;
	height: auto;
}
.login-type-button span {
	display: none;
}
@media screen and (min-width: 768px) {
	.login-type-button i.fa {
		display: none;
	}
	.login-type-button span {
		display: block;
	}
}
.login-type-button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.login-type-button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.welcome-text {
	margin-top: 5px;
	color: white;
	font-size: 16px;
}
.login-inputs {
	margin-top: 15px;
	font-size: 16px;
	display: none;
}
.login-inputs input[type="email"] {
	background: #e0e0e0;
	color: #424242;
	text-align: center;
	border: none !important;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 20px);
}

.input-bar {
	width: 100%;
	font-size: 0;
	margin-top: 5px;
}

.input-bar-button {
	width: 33.33%;
	font-size: initial;
	border-radius: 0;
	color: #424242 !important;
	padding: 15px 0;
	height: 54px;
	background: #e0e0e0;
	text-transform: none;
}
.input-bar-button:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.input-bar-button:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.input-bar-button:hover {
	background: #e0e0e0;
}
.btn-gender:hover,
.btn-gender.active {
	background: #616161;
	color: white !important;
}
input.input-bar-age {
	height: auto;
	margin: 0;
	background: none;
	outline: none;
	border: none;
	text-align: center;
}

.btn-continue {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 0;
	padding: 15px 0;
	height: auto;
	color: white !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	text-align: center;
	color: #9e9e9e;
}
::-moz-placeholder { /* Firefox 19+ */
  	text-align: center;
	color: #9e9e9e;
}
:-ms-input-placeholder { /* IE 10+ */
  	text-align: center;
	color: #9e9e9e;

}
:-moz-placeholder { /* Firefox 18- */
  	text-align: center;
	color: #9e9e9e;
}

/* BUTTONS */
.btn-google,
.btn-google:focus,
.btn-google:visited{
	background: #ef5350;
}
.btn-google:hover {
	background: #e57373;
}
.btn-facebook,
.btn-facebook:focus,
.btn-facebook:visited {
	background: #5c6bc0;
}
.btn-facebook:hover {
	background: #7986cb;
}
.btn-email,
.btn-email:focus,
.btn-email:visited,
.btn-continue,
.btn-continue:focus,
.btn-continue:visited {
	background: #66bb6a;
}
.btn-email:hover,
.btn-continue:hover {
	background: #81c784;
}
